<style>
    .payment-contents{
        margin: 0 auto;
        width: 800px;
        padding-top: 20px;
    }

    table{
        margin-top: 20px;
    }

    table td.forwarded{
        background-color: #fff6da;
    }

    table td.pending{
        background-color: #f1f7f9;
    }

    table td.authorised{
        background-color: #d6f1e2;
    }

    table td.price{
        text-align: right;
    }
</style>

<div class="payment-contents">
    <div class="actions">
        <button type="button" class="btn btn-primary fetch-payments {{#if fetched}}disabled{{/if}}" on-click="fetchAllPayments">Fetch all payments</button>
    </div>
    <table class="table">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Payment ID</th>
            <th>Price</th>
            <th>Status</th>
            <th>Method Name</th>
            <th>Product Name</th>
        </tr>
        {{#each payments:i}}
        <tr>
            <td>{{firstname}}</td>
            <td>{{lastname}}</td>
            <td>{{paymentid}}</td>
            <td class="price">{{formatPrice(price)}}</td>
            <td class="{{status}}">{{status}}</td>
            <td>{{methodname}}</td>
            <td>{{productname}}</td>
        </tr>
        {{else}}
        <tr>
            <td colspan="7">No data</td>
        </tr>
        {{/each}}
    </table>
</div>

<script>
    component.exports = {
        isolated: true,
        data: function() {
            return {
                payments: [],
                nextOffset: -1,
                fetched: false,
                formatPrice: function(price){
                    var priceFormatter = new Intl.NumberFormat('nl-NL',
                        { style: 'currency', currency: 'EUR',
                            minimumFractionDigits: 2 });
                    return priceFormatter.format(price/100);
                }
            }
        },
        fetchAllPayments: function () {
            var self = this;
            var data = {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            };
            fetch( "api/order/details?max_num=-1", data).then(function(response){
                if(response.status >= 200 && response.status < 300){
                    return response;
                } else {
                    var error = new Error('Something went wrong.');
                    error.response = response;
                    throw error;
                }
            }).then(function(response){
                return response.json();
            }).then(function(data){
                self.set({
                    payments: data['data'] || [],
                    nextOffset: data['next_offset'] || -1
                });
            }).catch(function(error){
                console.log(error);
            });
        },
        oninit: function(){
            var self = this;
            this.on('fetchAllPayments', function(){
                if(!self.get('fetched')) {
                    self.fetchAllPayments();
                    self.set('fetched', true);
                }
            });
        }
    };
</script>
